header{
    color: darkslategray;
    margin-top: 60px;
    
}
p{
    color: antiquewhite;
}
/* we can define more than one class to a element */
.uppercase{
    text-transform: uppercase;
}
.cursive{
    font-family: cursive;
}
            /* to get or access elements by id use # */ 
#blog-desc{
    color: red;
}

.blog-title:hover{            /* here hovwe is the pseudo class-- it mostly represents state like on hover*/
    color: orange;
}
#site-title,a{
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

#site-title,a:hover{
    color: orange;
}
img{
    width: 100%;           /*Setting image size globally to 100%*/
}
#logo{
    width: 210px;        /*task*/
}
#blog-content{
    width: 90%;
    font-size: 1.1rem;
    line-height: 1.4;
    word-spacing: 1px;

}
main{
    /* border-top: 5px;                         
    border-bottom: 5px;
    border-right: 5px;
    border-left: 0px;                            border
    border-color: red;
    border-style: dotted;
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; */
    /*-------------------*/

    border: 5px dashed #ff6060;
    border-left: none;
    border-radius: 50px 50px 0 0; 
}

.blog-title{
    font-size: 3.2rem;
}

.sources{
    text-decoration: none;
}
.sources,a:hover{
    color: #000000;
    font-weight: bolder;
}
body{
    margin-left: 60px;
    margin-right:20px;
}
.site-title{
    margin-bottom: 0px;
}
#header-img{
    margin-top: 50px;
}
#views {
    margin-bottom: 3px;
}
#views {
    margin-bottom: 3px;
}
#views img {
    margin-left: 2px;
    width: 18px;
    margin-bottom: -2px;
}
#views span {
    font-size: 1rem;
    font-family: sans-serif;
}
/* --------- Blog-Content --------- */ 

/*-----blog content-----*/

#blog-content {
    display: inline-block;
    font-size: 1.1rem;
    word-spacing: 1px;
    line-height: 1.4;
    width: 70%;
}

#blog-content h4.h-style {
    margin-bottom: 0;
}

#blog-content ol li p {
    margin-top: 10px;
}

#blog-content .sources a {
    text-decoration: none;
}

#blog-content .sources a:hover {
    color: #000000;
}



/* ----------------Aside-------------- */

aside {
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    width: 25%;
}

.widget {
    margin-top: 3.5rem;
    border-top: 4px solid black;
    line-height: 1.6;
    font-size: 1.1rem;
}

.widget a {
    color: #dc6520;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2rem;
}

.widget a:hover {
    color: #1a1a1a;
}

.widget .widget-title {
    text-transform: uppercase;
    font-family: sans-serif;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    word-spacing: 0.1rem;
}

.widget li {
    margin-bottom: 0.25rem;
}

.widget p {
    margin-bottom: 0;
    margin-top: 0;
}

label {
    color: #3c5349;
    padding-bottom: 3px;
    display: block;
    font-size: 1rem;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 4px 10px;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    width: 90%;
    display: block;
    line-height: 1.6;
    font-size: 1.05rem;
    color: #000000;
}

button[type="submit"] {
    background-color: #1a1a1a;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 1;
    padding: 12px 18px;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: #dc6520;
}

#subscription .sub-btn {
    margin: 10px 0 0;
}

#search form {
    margin-top: 30px;
    margin-bottom: 70px;
}

#search input {
    display: inline;
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

#search img {
    width: 18px;
    vertical-align: middle
}

#search{
    width: 12%;
    margin-left: -4px;
    padding: 7px 0 6px;
    border-radius: 0 5px 5px 0;
    line-height: 1.6;
}

#recent-posts li,
#recent-comments li {
    margin-bottom: 0.4rem;
}

#recent-comments .name {
    text-transform: uppercase;
    font-size: 1rem;
}
